.card {
    width: 300px;
    height: 250px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    background: #00BCD4;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    -webkit-transition-duration: 1.5s;
            transition-duration: 1.5s;
    -webkit-transition-property: width, height,-webkit-transform;
    transition-property: width, height,-webkit-transform;
    transition-property: width, height,transform;
    transition-property: width, height,transform, -webkit-transform;
   }
   
   .card:hover {
    width: 250px;
    height: 300px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
     /* -ms-transform:rotate(90deg);
     -webkit-transform:rotate(90deg); */
   }
   
   .card__content {
    padding: 1rem;
    font-size: smaller;
   }
   
   .card__date {
    color: white;
    margin-bottom: .5rem;
    font-weight: 700;
   }
   
   .card__info {
    width: 100%;
    height: 200px;
    padding: .7rem;
    font-size: smaller;
    border-radius: 1rem;
    text-align: center;
    background-color: #fae4c3;
    color: #fae4c3;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-property: color;
    transition-property: color;
   }
   
   .card__info:hover {
    color: #212121;
   }
   